@charset "UTF-8";
.navigation {
  height: 70px;
  background: #262626;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}




.footer-section {
  background: #000c0f;
  padding-bottom: 80px;
}

.footer-section-row {
  background: #071420;
  padding: 18px;
  margin-bottom: 50px;
}

.address {
  padding: 10px;
  display: flex;
}

.right-text {
  padding-left: 28px;
}

.right-text h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.right-text p {
  margin: 0px;
  color: #fff;
  font-size: 15px;
  line-height: 23px;
}

.footer-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f7bb07;
  font-size: 20px;
  margin-bottom: 23px;
  font-weight: 700;
  position: relative;
}
/* .footer-title span::before {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 117px;
  height: 2px;
  background-color: #f7bb07;
} */

.footer-title-text {
  background: #166a84;
  z-index: 999;
  position: relative;
}

.footer-title-underline {
  height: 1px;
  background-color: #f7bb07;
  width: 100%;
  position: absolute;
  bottom: 3px;
  left: 0px;
}

.quick-link-list {
  list-style-type: none;
  padding: 0px;
}

.quick-link-list li a {
  color: #fff;
  margin-bottom: 8px;
  display: block;
}

.footer-section-bottom {
  background: #000000;
  padding: 17px 0px;
}

.footer-bottom-left p {
  margin: 0px;
  color: #fff;
}

.footer-bottom-right p {
  margin: 0px;
  color: #fff;
  text-align: right;
}

.footer-bottom-right p a {
  color: #dcd735;
}

.title-transparent {
  opacity: 0 !important;
}

#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  /* add border to the buttons */
  box-shadow: 0 3px 3px #999;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 27px;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
}
/* facebook button class*/

.facebookBtn {
  background: #4060A5;
}

.facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a";
  /* add facebook icon */
}

.facebookBtn:hover {
  color: #4060A5;
  background: #fff;
  border-color: #4060A5;
  /* change the border color on mouse hover */
}
/* twitter button class*/

.twitterBtn {
  background: #00ABE3;
}

.twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099";
  /* add twitter icon */
}

.twitterBtn:hover {
  color: #00ABE3;
  background: #fff;
  border-color: #00ABE3;
}
/* google plus button class*/

.googleplusBtn {
  background: #e64522;
}

.googleplusBtn:before {
  font-family: "FontAwesome";
  content: "\f0d5";
  /* add googleplus icon */
}

.googleplusBtn:hover {
  color: #e64522;
  background: #fff;
  border-color: #e64522;
}
/* linkedin button class*/

.linkedinBtn {
  background: #0094BC;
}

.linkedinBtn:before {
  font-family: "FontAwesome";
  content: "\f0e1";
  /* add linkedin icon */
}

.linkedinBtn:hover {
  color: #0094BC;
  background: #fff;
  border-color: #0094BC;
}
/* youtube button class */

.youtubeBtn {
  background: #bf1d23;
}

.youtubeBtn:before {
  font-family: "FontAwesome";
  content: "\f167";
  /* add linkedin icon */
}

.youtubeBtn:hover {
  color: #bf1d23;
  background: #fff;
  border-color: #bf1d23;
}
/* youtube button class */
/* pinterest button class*/

.pinterestBtn {
  background: #cb2027;
}

.pinterestBtn:before {
  font-family: "FontAwesome";
  content: "\f0d2";
  /* add pinterest icon */
}

.pinterestBtn:hover {
  color: #cb2027;
  background: #fff;
  border-color: #cb2027;
}
/* tumblr button class*/

.tumblrBtn {
  background: #3a5876;
}

.tumblrBtn:before {
  font-family: "FontAwesome";
  content: "\f173";
  /* add tumblr icon */
}

.tumblrBtn:hover {
  color: #3a5876;
  background: #fff;
  border-color: #3a5876;
}
/* rss button class*/

.rssBtn {
  background: #e88845;
}

.rssBtn:before {
  font-family: "FontAwesome";
  content: "\f09e";
  /* add rss icon */
}

.rssBtn:hover {
  color: #e88845;
  background: #fff;
  border-color: #e88845;
}

.form-control-new {
  border-radius: 0px;
  position: relative;
}

.form-control-new:before {
  content: "/f0e0";
  font-family: FontAwesome;
  position: absolute;
  left: 0px;
  top: 0px;
}

.newsletter {
  color: #fff;
}

.subscribe {
  width: 100%;
  border-radius: 0px;
  background: #0a3846;
  border: 1px solid #6ac5e1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}